* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #F1F1F1; padding: 3px;}
form input { border: 0; padding: 5px; width: 80%; margin-right:0; }
form button { width: 15%; background: #AFD8F8; border: none; padding: 5px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

#chatCont{
    width:75%;
    display: inline-block;
}
.chat{
    height:50px;
    overflow: scroll;
    overflow-x: hidden;
}
#modeSwitchCont{
    width:20%;
    height: 70px;
    display: inline-block;
    position: relative;
    top: -23px;
}
#modeSwitchCont button{
    display: inline-block;
    height: 100%;
    width: 45%;
}
.selected{
    background-color: greenyellow;
}
button:active, button:focus{
    text-decoration: none;
    outline: none;
}
#container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.rangeInput{
    margin: 10px 0;
}

#slider h2{
    margin-bottom: 10px;
}

.graphcont{
    height:150px;
    width:49%;
    display: inline-block;
    margin-bottom: 320px;
}
.graphAutoMode{
    height:450px!important;
}
.graph{
    height: 100%;
    width: 100%;
}
.fcont{
    width:49%;
    display: inline-block;
}

#SWForm .inputs{
    width: 25%;
}